@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container text-center">
    <img class="p-5" src="~/img/sage.png" width="40%" /> <br />
    <span class="display-1">Error</span>
</div>